body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mainpg {
    color: black;
    padding-left: 200px;
}
.mainpg1 {
    color: black;
    padding-left: 250px;
}

.eastLondon {
    background-color: #709fa4;
    background-image: url("beach-sunset.jpg");
    color: rgb(19, 18, 18);
    background-size: cover;
    background-blend-mode: lighten;
    padding-top: 50px;
    padding-bottom: 200px;
}

.container1 {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.mainimg {
    background-color: #a8dbe2;
    background-image: url("cpt2el.jpg");
    color: rgb(211, 11, 11);
    background-size: cover;
    background-blend-mode: multiply;
    padding-top: 50px;
    padding-bottom: 200px;
}
.container2 {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;

}

.pemain {
    background-color: #0b7381;
    background-image: url("PE2.jpg");
    color: rgb(142, 123, 123);
    background-size: cover;
    background-blend-mode: lighten;
    padding-top: 50px;
    padding-bottom: 200px;
}

.container3 {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;

}

.wilderness {
    background-color: #068090;
    background-image: url("wild1.jpg");
    color: rgb(216, 43, 43);
    background-size: cover;
    background-blend-mode: lighten;
    padding-top: 50px;
    padding-bottom: 200px;
}

.container4 {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;

}

.active {
    overflow: hidden;
    background-color: #fff;
}

.tophead {
    text-align: center;
    margin: 0;
    padding-top: 1rem;
    font-size: 50px;
    background-color: aqua;
    color: blueviolet;
}
